@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Core Leave System</h2>
    <p>This system is used for core leave management of our employees.</p>
</div>
